@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers


@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.DropDownList


<div class="col-xs-@Model.ResponsiveWidth minimalPaddingImportant">
    <div class="form-group">

        @if (!string.IsNullOrEmpty(Model.DisplayName))
        {
        <label class="control-label">@Model.DisplayName </label>
        }

        <select id="@Model.ClientId" class="form-control @Model.GetSelect2Class() @Model.GetSelect2ModalClass()" @Model.NgModel @Model.RenderSelect2_OfflineList()>
            <option value="">@Model.PlaceHolder</option>

            @foreach (var option in Model.DropDownOptions)
            {
                <option value="@option.id">@option.text</option>
            }

        </select>

    </div>
</div>


