@using Abp.Timing
@model KyleTanczos.TestKyle.Web.Areas.Mpa.Models.Layout.HeaderViewModel
@{
    Layout = null;
}
<div class="page-header-inner">

    <span class="hidden-md hidden-lg">
        <div class="btn-group" style="padding-top:18px; padding-left:5px">
            <button class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Action
                        <span class="badge badge-success"> 2 </span>
                    </a>
                </li>
                <li role="presentation" class="divider"> </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Another action
                        <span class="badge badge-warning"> 5 </span>
                    </a>
                </li>
                <li role="presentation" class="divider"> </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Something here
                        <span class="badge badge-danger"> 7 </span>
                    </a>
                </li>
                <li role="presentation" class="divider"> </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Separated link
                        <span class="badge badge-info"> 12 </span>
                    </a>
                </li>
                <li role="presentation" class="divider"> </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Another action
                        <span class="badge badge-warning"> 5 </span>
                    </a>
                </li>
      
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Something here
                        <span class="badge badge-danger"> 7 </span>
                    </a>
                </li>
    
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Separated link
                        <span class="badge badge-info"> 12 </span>
                    </a>
                </li>

                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Another action
                        <span class="badge badge-warning"> 5 </span>
                    </a>
                </li>
             
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Something here
                        <span class="badge badge-danger"> 7 </span>
                    </a>
                </li>
       
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="javascript:;">
                        Separated link
                        <span class="badge badge-info"> 12 </span>
                    </a>
                </li>
            </ul>
        </div>
    </span>

    <span class="hidden-xs">
        <div class="btn-group" style="padding-top:18px; padding-left:5px;color:dodgerblue;font-size:x-large;">
            Cloud Pcr
        </div>
    </span>




    <div class="page-logo hidden-sm hidden-xs" style="width:50px !important;">
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>




    @*<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>*@
    <div class="pull-right">
        @*class="page-top">*@
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                @if (Model.Languages.Count > 1 && false)
                {
                    <li class="dropdown dropdown-language">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="@Model.CurrentLanguage.Icon"></i>
                            <span class="langname">
                                @Model.CurrentLanguage.DisplayName
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var language in Model.Languages.Where(language => language.Name != Model.CurrentLanguage.Name))
                            {
                                <li>
                                    <a href="~/AbpLocalization/ChangeCulture?cultureName=@language.Name&returnUrl=@Request.Url" href="#">
                                        <i class="@language.Icon"></i> @language.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="@(Model.IsImpersonatedLogin ? L("YouCanBackToYourAccount") : "")">
                        <span class="username username-hide-on-mobile">
                            @if (Model.IsImpersonatedLogin)
                            {
                                <i class="icon-action-undo font-red-sunglo"></i>
                            }
                            @Html.Raw(Model.GetShownLoginName())
                        </span>
                        <img id="HeaderProfilePicture" alt="" class="img-circle" src="@Url.Action("GetProfilePicture", "Profile", new { area = string.Empty })?t=@Clock.Now.Ticks.ToString()" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        @if (Model.IsImpersonatedLogin)
                        {
                            <li ng-if="vm.isImpersonatedLogin">
                                <a id="UserProfileBackToMyAccountButton" href="#"><i class="icon-action-undo"></i> <strong>@L("BackToMyAccount")</strong></a>
                            </li>
                            <li ng-if="vm.isImpersonatedLogin" class="divider"></li>
                        }
                        <li>
                            <a id="UserProfileChangePasswordLink" href="#"><i class="icon-key"></i> @L("ChangePassword")</a>
                        </li>
                        <li>
                            <a id="UserProfileChangePictureLink" href="#"><i class="icon-user"></i> @L("ChangeProfilePicture")</a>
                        </li>
                        <li>
                            <a id="UserProfileMySettingsLink" href="#"><i class="icon-settings"></i> @L("MySettings")</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Account", new {area = string.Empty})"><i class="icon-logout"></i> @L("Logout")</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>